.container {
  display: flex;
  flex-direction: column;
  max-width: 40vw;
  margin: auto;
}

.input {
  margin-bottom: 10px;
  height: 5vh;
}

.button {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 15px;
}
.label {
  font-size: 1.2em;
  font-weight: bolder;
}