.main {
    background-color: white;
    width: 100vw;
    height: 100vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

} 
.outer_div {
            background-image: url('landing.jpg'); 
            background-size: cover;
            background-position: center;
            height: 70vh; 
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 3vh;

        }

        .inner_div {
            background-color: rgba(255,255,255,0.7);
            
            padding: 20px;
            text-align: center;
        }

        .inner_div h1 {
            color: rgb(0, 0, 0);
        }


        .registerBtn {
            background-color: #ae2e63;
            color: white;
            border: none;
            font-weight: bolder;
            padding: 15px;
            border-radius: 10px;
        }

          .moreBtn {
            background-color: #ae2e63;
            color: white;
            border: none;
            font-weight: bolder;
            padding: 10px;
            height: fit-content;
            border-radius: 10px;
        }


        .coursesHeading {
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-bottom: 3vh;
        }


        .coursesList {
            display: flex;
            justify-content: space-around;
          flex-wrap: wrap;
        }


        .contactUs {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            background-color: rgb(244, 166, 71);
            border-radius: 45px;
        }

        .contactUs form input ,textarea{
                width: 100%;
                border: none;
                background-color: rgb(244, 241, 241);
                border-radius: 15px;
                padding: 10px;
                margin: 10px;
        }
       .sendBtn {
         background-color: #ae2e63;
            color: white;
            border: none;
            font-weight: bolder;
            padding: 10px;
            height: fit-content;
            border-radius: 25%;
       }