.navbar {
  background-color: rgb(107, 84, 210);
  padding: 15px;
  margin-bottom: 5vh;
  
}

.navList {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  align-items: center;
  padding: 0;
}

.navItem {
  margin-right: 10px;
}

.navLink {
  text-decoration: none;
  color: white;
}

.navLink:hover {
  color: lightblue;
}
